<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myConnection" connectionString="Data Source=LAPTOP-EK3HOCT9\SQLEXPRESS;Initial Catalog=DBProject1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBPROJECT_A.Properties.Settings.DBProject1ConnectionString"
            connectionString="Data Source=LAPTOP-EK3HOCT9\SQLEXPRESS;Initial Catalog=DBProject1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBPROJECT_A.Properties.Settings.DBProjectConnectionString"
            connectionString="Data Source=LAPTOP-EK3HOCT9\SQLEXPRESS;Initial Catalog=DBProject1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>